# Ambiente virtual
.venv/

# Arquivos Python
__pycache__/
*.py[cod]
*.pyo

# Variáveis de ambiente
.env

# Logs
logs/
*.log

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

#Certificado

certificado_esocial.pem
chave_esocial.pem
*.pem

